@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background-color: rgb(16,16,16);
  --text-color: #ffffff;
  --secondary-color: #d1aa61;
}

body {
    margin: 0;
  background-color: var(--background-color);
  font-family: Albert Sans;
  color: var(--text-color);
}

/* NAVBAR */
.navbar {
  padding: 10px 0; 
  z-index: 1;
}

.navbar-nav {
  display: flex; 
  gap: 15px;
}

.navbar-brand img {
  margin-right: 15px; 
}

.nav-link {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  transition: color 0.3s ease;
  text-transform: uppercase; 
}

.nav-link:hover {
  color: #d1aa61; 
}

/* Wave Header + Divider */
.wave-header {
  min-height: 100vh;
  width: 100%;
  background-image: url(../src/img/landscape.jpg);
  position: relative;
  background-size: cover;
  top: -18vh;
  z-index: 0;
}

svg {
  position: absolute;
  bottom: 0;
  left: 0;
}
/* WAVE-DIVIDER*/
.wave-divider {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url(../src/img/jar.jpg);
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.wave-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  top: -85px;
  z-index: 0;
}

.wave-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  bottom: -80px;
}

/*CONTENT*/

.content-llanchid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.video-container {
  flex: 1;
  max-width: 631px;
  margin-right: 20px;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
}

.video-container video {
  width: 100%;
  height: auto;
}

.info-llanchid {
  place-items: center;
  flex: 1;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
}

.info-llanchid h2 {
  font-size: 2.5rem;
  font-family: Bona Nova;
}

.info-llanchid p {
  font-size: 1rem;
  line-height: 1.5;
}

.btn-custom {
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-start;
  transition: background-color 0.3s ease;
  align-self: center;
}

.btn-custom:hover {
  background-color: #b8944e;
}

/**/

.card {
  border: none; 
  border-radius: 10px; 
  overflow: hidden; 
}

.card-img-top {
  filter: brightness(90%); 
  height: 200px;
  object-fit: cover; 
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {

  text-align: center;
}


/* css nico */



header .banner {
  text-align: center;
  padding: 400px 20px;
  background-size: cover;
  background-position: center;
  color: white;
}

header .banner h1 {
  font-size: 3rem;
  margin: 0;
}

header .banner p {
  font-size: 1.2rem;
  margin: 10px 0 0;
}

.gallery {
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.gallery-item {
  width: 100%;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.info {
  padding: 20px;
  background-color: #111;
  color: white;
  text-align: center;
  width: 80%;
  margin: 20px auto;
  border-radius: 8px;
}

.info h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.info p {

  font-size: 1rem;
  line-height: 1.5;
}

/*HEAD*/
.container {
  padding-top: 50px; /* Adjust to prevent overlap with header */
}

body {
  background-color: #101010; /* Optional: dark theme background */
  color: #ffffff;
}

/*FOOTER*/
.footer{
  color: #fff;
}

.footer a{
  color: #fff !important;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  margin-top:100px;
  display: block;
  width: 80%;
  max-width: 700px;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #ff0000;
  text-decoration: none;
  cursor: pointer;
}

.h1-galeria {
  position: relative;
  display: block;
  font-size: 30px;
  padding-top: 300px;
  padding-left: 20px;
}

.h1-galeria h1{
  font-weight: 900;
  font-size: 4vw;
}


/* prodcutos */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000; /* Fondo negro */
  color: #fff;
}

.productos-container {
  text-align: center;
  padding: 2rem;
}

header h1 {
  font-size: 1.5rem;
  color: #ffcc00;
  margin-bottom: 0.5rem;
}

header h2 {
  font-size: 2rem;
  margin-bottom: 0.3rem;
}

header p {
  font-size: 1rem;
  color: #ccc;
}

.productos {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.producto-card {
  background-color: #1a1a1a;
  border-radius: 10px;
  padding: 1rem;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-align: left;
}

.producto-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.producto-info h3 {
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.producto-info .stock {
  font-size: 0.8rem;
  color: #5cb85c;
}

.producto-info .precio {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  color: #ffcc00;
}

.whatsapp-icon {
  display: inline-block;
  background-color: #25d366;
  color: #fff;
  padding: 0.5rem;
  border-radius: 50%;
  text-decoration: none;
  font-size: 1rem;
}

.pagination {
  margin-top: 2rem;
  font-size: 1.5rem;
}

.pagination span {
  margin: 0 1rem;
  cursor: pointer;

}