<!-- Custom CSS -->
<link rel="stylesheet" href="../css/footer.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<footer>
    <div class="column">
        <div class="container col mt-5 mb-5">
            <h5>CONTACTOS</h5>
            <hr>
            <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><i class='bx bx-envelope' style='color:#d1aa61'></i> Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><i class='bx bx-phone' style='color:#d1aa61'></i> Features</a></li>
            </ul>
        </div>

        <div class="container col mt-5 mb-5">
            <h5>SOBRE NOSOTROS</h5>
            <hr>
            <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
            </ul>
        </div>
    </div>

    <div class="icons-bx">
        <a href="https://www.instagram.com/isla_llanchid/"><i class='bx bxl-instagram-alt mb-5' style='color:#d1aa61'></i></a>
    </div>

</footer>