<!-- Custom CSS -->

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="../css/footer.css">

<footer>
    <div class="column">
        <div class="container col mt-5 mb-5">
            <h5>Enlaces</h5>
            <hr>
            <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="../index.html" class="nav-link p-0 text-body-secondary"><i class='bx bx-link' style='color:#d1aa61'></i> Inicio</a></li>
            <li class="nav-item mb-2"><a href="../pages/historia.html" class="nav-link p-0 text-body-secondary"><i class='bx bx-link' style='color:#d1aa61'></i> Historia</a></li>
            <li class="nav-item mb-2"><a href="../pages/productos.html" class="nav-link p-0 text-body-secondary"><i class='bx bx-link' style='color:#d1aa61'></i> Productos</a></li>
            <li class="nav-item mb-2"><a href="../pages/nosotros.html" class="nav-link p-0 text-body-secondary"><i class='bx bx-link' style='color:#d1aa61'></i> Nosotros</a></li>
            <li class="nav-item mb-2"><a href="../pages/galeria.html" class="nav-link p-0 text-body-secondary"><i class='bx bx-link' style='color:#d1aa61'></i> Galería</a></li>
            <li class="nav-item mb-2"><a href="../pages/contacto.html" class="nav-link p-0 text-body-secondary"><i class='bx bx-link' style='color:#d1aa61'></i> Contacto</a></li>


        </ul>
        </div>

        <div class="container col mt-5 mb-5">
            <h5>Contacto</h5>
            <hr>
            <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="mailto:contacto@llanchid.cl" class="nav-link p-0 text-body-secondary"><i class='bx bx-envelope' style='color:#d1aa61'></i> contacto@llanchid.cl</a></li>
            <li class="nav-item mb-2"><a href="https://www.instagram.com/isla_llanchid/" class="nav-link p-0 text-body-secondary"><i class='bx bxl-instagram' style='color:#d1aa61'></i> Isla Llanchid </a></li>
        </ul>
        </div>
    </div>

    <div class="icons-bx">
       <p style="font-size: 12px;">Isla Llanchid 2024©️  |  Desarrollado por Ella Zampeze y Nicolás Bahamonde
       
       </p> 
       <br>
       
    </div>

</footer>